@import "vegetable-v1.0/style.css";
:root{--main-color:#3DA8FF;--primary-dark:#6B738B;}
*{font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;outline: 0;-webkit-tap-highlight-color: transparent;-webkit-tap-highlight-color: transparent;margin: 0;padding: 0;}
.whitebg{background-color: #fff;}
body{background-color: #F3F3F3;scrollbar-width: none;-ms-overflow-style: none;}
body::-webkit-scrollbar{display: none}
a{color: var(--main-color)}
.home_top_bar{height: 142px;position: fixed;z-index: 7;top:0;right: 0;left: 0;background:#fff url('../img/Nav-bg.png') no-repeat top/cover;text-align: center;}
.top_bar{height: 44px;position: fixed;z-index: 7;top:0;right: 0;left: 0;background:#fff url('../img/Nav-bg.png') no-repeat top/cover;text-align: center;}
.top_title{font-size: 17px;font-weight: 500;line-height: 44px;position: absolute;display: block;width: 100%;margin: 0 -10px;padding: 0;white-space: nowrap;color: #fff;right: 63px;left: 63px;display: inline-block;overflow: hidden;width: auto;margin: 0;text-overflow: ellipsis}
.left_btn{line-height: 44px;float: left;color: #fff;width: 54px;text-align: center;font-size: 22px;}
.home_top_bar .left_btn{line-height: 54px;}
.left_btn i{color: #fff;}
.right_btn{line-height: 44px;float: right;color: #fff;width: 54px;text-align: center;font-size: 22px;}
.content_box{padding-top: 44px;padding-bottom: 64px;overflow: hidden;}
.home_top_bar+.content_box{padding-top: 142px;}
.booth_detail .home_top_bar{height: 222px;}
.booth_detail .home_top_bar+.content_box{padding-top: 222px;}
.monitoring .home_top_bar{height: 116px;}
.monitoring .home_top_bar+.content_box{padding-top: 116px;}


.weui_cells{margin-left: 15px;margin-right: 15px;border-radius: 4px;box-shadow: 0 2px 4px 0 rgba(0,0,0,.05);}
.weui_cells:after, .weui_cells:before{display: none;}
.activity_box{margin: 30px 15px 0;}
.filter_box{position: absolute;bottom: 0;right: 0;left: 0; display: flex;background-color: #F4F4F4;border-radius: 16px 16px 0 0;}
.filter_box .cell{flex: 1;position: relative;margin: 0 4px;}
.filter_box .cell .van-cell{background-color:transparent;padding:0;}
.filter_box .cell .van-cell:not(:last-child)::after{border: none;}
.filter_box .cell select, .filter_box .cell input{padding: 11px 10px;font-size: 14px;border: 0;border-radius: 6px;line-height: 22px;width: 100%;box-sizing: border-box;appearance:none;  -moz-appearance:none; -webkit-appearance:none;}
.filter_box .cell select, .filter_box .cell input::-webkit-input-placeholder{color: #666;}
.filter_box .cell i{position: absolute;font-size: 12px; color: #666;right: 10px;top: 16px;}
.search{font-size: 16px;background-color: #464FE5;border: 0;border-radius: 6px;color: rgba(255, 255, 255, 0.6);line-height: 22px;position: absolute;right: 64px;left: 54px;top:8px;padding: 8px 10px;}
.search_btn{position: absolute;font-size: 17px;color: #fff;right: 15px;top: 15px;}
/*按钮*/
.van-button--primary{background-color: var(--main-color) !important;border-color: var(--main-color) !important;color: #fff;}
.van-button--primary.van-button{border-radius: 4px;width: 100%;}
.van-button--primary.van-button .van-button__text{font-size: 17px;color: #fff;}


/* 菜单页 */
.login,.home{background:#fff url('../img/Background.svg') no-repeat top/cover;height: 100vh;}
.logo_title{width: 305px;padding-left: 29px;padding-top: 40px;}
.menu_wrap{padding:62px 28px 0;}
.marketPick{border-radius: 8px;padding:18px 20px;}
.marketPick.van-cell{font-size: 17px;}
.marketPick.van-cell:after{position: absolute;font-family: 'vegetable';content: '\e900';color: #C1C1C1;right: 22px;font-size: 18px;border-bottom:0;left: auto;bottom:auto;transform: initial;}
.menu{padding-top: 50px;}
.menu .item{background-color: #fff;border-radius: 14px;padding:20px;margin-bottom: 16px;font-size: 20px;color: #333;position: relative;}
.menu .item:after{position: absolute;font-family: 'vegetable';content: '\e902';color: #C1C1C1;right: 24px;font-size: 16px;top: 32px;}
.menu .item a{color: #333;display: flex;}
.menu .item a i{font-size: 24px;padding:8px;background-color: #EDF6FF;border-radius: 8px;margin-right: 20px;color: #369BFF;}
.menu .item a span{line-height: 40px;}
.menu .item a i.icon-xinxi{color: #2FB2FC;background-color: #E7F6FF;}
.menu .item a i.icon-jiankong{color: #C481FF;background-color: #F8F0FF;}
.menu .item a i.icon-yonghu{color: #7373FF;background-color: #F0F0FF;}

/* 个人中心 */
.mine .top_bar{height: 300px;background:#fff url('../img/user-Background.svg') no-repeat top/cover;}
.mine .top_bar .info{position: absolute;width: 100%;padding-top: 114px;color: #fff;z-index: -1;}
.mine .top_bar .avatar{padding-bottom: 10px;}
.mine .top_bar .user-name{font-size: 20px;line-height: 28px;font-weight: 600;padding-bottom: 2px;}
.mine .menu{position: relative;z-index: 8;padding:0 14px ;top: 264px;}
.mine .menu .item{background: #fff;border-radius: 4px;box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);margin-bottom: 16px;line-height: 60px;padding: 0 36px 0 16px;color: #737B91;font-size: 16px;position: relative;}
.mine .menu .item .ft{float: right}
.mine .menu .item:after{position: absolute;font-family: 'vegetable';content: '\e902';color: #C1C1C1;right: 16px;font-size: 16px;top: 0;}
.mine .menu .item i{font-size: 18px;padding-right: 16px;vertical-align: text-bottom;}
.mine .menu .item .icon-mine{color: #338AFF;}
.mine .menu .item .icon-phone{color: #FFA900;}
.mine .menu .item .icon-password{color: #6ABF40;}
.mine .menu .item .icon-quit{color: #F65656;}

/* 摊位管理 */
.module_hd{padding: 20px 14px 0;color: #6B738B;position: relative;}
.module_hd .name{font-weight: 500;font-size: 18px;line-height: 28px;}
.module_hd .info{font-weight: normal;font-size: 14px;line-height: 22px;position: absolute;bottom: 0;right: 14px;}
.content_box .item{position: relative;background-color: #fff;border-radius: 4px;margin:0 20px 12px;padding:8px  16px 12px;color: #333;overflow: hidden;}
.content_box .item .hd, .business_info .hd{font-size: 16px;font-weight: bold;padding-bottom: 12px;line-height: 28px;}
.content_box .item .info .cells, .business_info .cells{width: 50%;float: left;font-size: 14px;line-height: 22px;padding-top: 2px;font-size: 13px;}
.content_box .item .info .cells .title, .business_info .cells .title{padding-right: 10px;opacity: .6;}
.content_box .item .status{position: absolute;right: 16px;top: 13px;font-size: 13px;font-weight: bold;line-height: 18px;color: #999;}
.content_box .item .status_online, .business_info .status_online{position: absolute;right: 16px;top: 13px;font-size: 13px;font-weight: bold;line-height: 18px;color: #6ABF40;}
.content_box .item .status_offline{position: absolute;right: 16px;top: 13px;font-size: 13px;font-weight: bold;line-height: 18px;color: #FFA900;}
.van-search{position: absolute;left: 0;right: 0;top: 40px;background-color: transparent;}
.van-search__action{position: absolute;background-color: var(--main-color);border-radius: 20px;color: #fff;padding:6px 16px;right: 15px;line-height: 20px;}
.van-search .van-cell{padding:7px 8px 7px 0;}
.van-search--show-action{padding-right: 12px;}
.van-field__value{padding-right: 70px;}


/* 商家信息 */
.business_info{background-color: #fff;border-radius: 4px;margin: 56px 20px 12px;text-align: left;padding:8px 16px 12px;position: relative;overflow: hidden;}

/* 监控视频 */
.switchType{position: absolute;right: 63px;left: 63px;display: inline-block;}
.switchType a{color: #fff;line-height: 44px;font-weight: 500;font-size: 17px;position: relative;}
.switchType a:first-child{margin-right: 30px;}
.switchType a.active:before{position: absolute;content: "";width: 35px;height: 3px;left: 0;bottom: -12px;background-color: #fff;}
.content_box .item.video{width: calc(50% - 21px);float: left;box-sizing: border-box;padding:0;margin: 14px 7px 0 14px;}
.content_box .item.video:nth-of-type(2n){margin: 14px 14px 0 7px;}
.content_box .item .video_img{height: 30vw;width: 100%;object-fit: cover;}
.content_box .item .video_title{font-size: 14px;color: #333;padding:14px 10px 16px;}
.video_detail {background-color: #000;}
.video_detail .top_bar{background: rgba(255, 255, 255, .1)}
.viedo_content{padding-top: 27vh;}
.decorate{background-color: #F4F4F4;border-radius: 16px 16px 0 0;height: 18px;position: absolute;left: 0;right: 0;bottom: 0;}





